<div>
    <div #myModal class="modal">
        <div class="center-modal">
            <div class="block">
                <!-- Btn X -->
                <button type="button" class="close" (click)="close()" (click)="logCloseModal()">×</button>

                <!-- Logos -->
                <!-- Logo success -->
                <img *ngIf="ico === 'success'" src="../../assets/success.svg" alt="success image" class="image">
                <!-- Logo error -->
                <img *ngIf="ico === 'error'" src="../../assets/error.png" alt="error image" class="image">
                <!-- Logo warning -->
                <img *ngIf="ico === 'warning'" src="../../assets/warning.png" alt="error image" class="image">

                <!-- Title -->
                <h1 class="title"> {{ title }} </h1>

                <!-- Message -->
                <p class="message"> {{ message }} </p>

                <!-- Btns close -->
                <div class="center">
                    <!-- Btn success -->
                    <div *ngIf="btn === 'success'">
                        <button type="button" class="btn" style="background-color: rgb(6, 229, 229);" (click)="close()"
                            (click)="logBtn01()">
                            Aceptar
                        </button>
                        <button type="button" class="btn" style="background-color: rgb(229, 0, 0);" (click)="close()"
                            (click)="logCloseModal()">
                            Cancelar
                        </button>
                    </div>

                    <!-- Btn error -->
                    <div *ngIf="btn === 'error'">
                        <button type="button" class="btn" style="background-color: red;" (click)="close()"
                            (click)="logCloseModal()">
                            Cerrar
                        </button>
                    </div>

                    <!-- Btn warning -->
                    <div *ngIf="btn === 'warning'">
                        <button type="button" class="btn" style="background-color: rgb(255, 128, 0);" (click)="close()"
                            (click)="logCloseModal()">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>