<div>
    <h1 style="font-family: system-ui;">Test</h1>
    <p style="font-family: system-ui;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam et quos non quae
        earum voluptatibus vel dolor, in sapiente harum. Doloribus quasi distinctio recusandae dignissimos laudantium
        eligendi, et nulla veniam.
        Maiores accusamus nihil placeat amet dicta! Doloremque quia cupiditate animi, accusamus libero rerum vel aliquam
        et dicta facilis, officia blanditiis reprehenderit a distinctio voluptas, illum minus saepe! Quidem, distinctio
        laboriosam.
    </p>

    <!-- Modal Success -->
    <h1 style="color: green; font-family: system-ui;">Success</h1>
    <app-alert #modalS [ico]="succes.ico" [title]="succes.title" [message]="succes.message" />
    <button (click)="openModal(modalS)" (click)="logOpenModal()">Open Modal</button>

    <!-- Modal Error -->
    <h1 style="color: red; font-family: system-ui;">Error</h1>
    <app-alert #modalE [ico]="error.ico" [title]="error.title" [message]="error.message" [btn]="error.btn" />
    <button (click)="openModal(modalE)" (click)="logOpenModal()">Open Modal</button>

    <!-- Modal Warning -->
    <h1 style="color: orange; font-family: system-ui;">Warning</h1>
    <app-alert #modalW [ico]="warning.ico" [title]="warning.title" [message]="warning.message" [btn]="warning.btn" />
    <button (click)="openModal(modalW)" (click)="logOpenModal()">Open Modal</button>
</div>